#myImage{
    
     background: url(img/istcrop2.jpg) no-repeat 40% center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: contain;
    margin:auto;
    display:block;
    margin-top: 5%;
	position: relative;
    width: 100%;
    height: 440px;
    
}

#myImage .mask{
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	right:0;
}

#myImage h1 {
	position: absolute;
    right: 20px;
    bottom: -20px;
    width: 230px;
    text-align: right;
  
}
#myImage img{
	position:absolute !important;
	left:0;
	right:0;
	margin:0 auto;
	top:20%;
	margin-top:-200px;
}

body {
    background-image: url(img/WDF_1533243.jpg); 
    color: aliceblue;
    font-size: 87.5%;
    font-family: Arial;
    line-height: 1.5;
    text-align: left;
}

.aktifLogo{
    width: 20%;
}

body {
    background-image: url(img/WDF_1533243.jpg); 
    color: aliceblue;
    font-size: 87.5%;
    font-family: Arial;
    line-height: 1.5;
    text-align: left;
}

a{
    text-decoration:none; 
    font-weight: bold;
}
a:link, a:visited{
    color:red;
}

a:hover, a:active{
       background-color: burlywood;
}
.body{
    margin: 0 auto;
    width: 70%;
    clear: both;
}

.mainHeader img {
    width: 300px;
    margin: 2% 0;
    height: 400px;
}


.mainHeader nav {
    background-color: rgba(255, 255, 255, 0.3);;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-top: 10px;
    
}
.mainHeader nav ul {
    list-style: none;
    margin: 0 auto;
}
.mainHeader nav ul li {
    float: left;
    display: inline;
}
.mainHeader nav a:link, .mainHeader nav a:visited {
    color: crimson;
    display:  inline-block;
    padding: 10px 25px;
    height: 20px;
}
.mainHeader nav a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
    background-color: burlywood;
    text-shadow: none;
}

.mainHeader nav ul li a {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.mainContent {
    line-height: 25px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    
}
.content {
    width: 70%;
    float: left;
    
}
.aboutMe {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1% 3%;
    margin-top: 3%;
}
.bottomcontent {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 1% 3%;
    margin-top: 3%;
}

.bottomcontent ul li p{
    text-align: right;
    padding-right: 20%;
    
}
.bottomcontent ul li img{
     padding-top: 2%;
}
.bottomcontent ul li h3{
     margin: auto;
    width: 50%
}
.post-info {
    font-style: italic;
    color: #999;
    font-size: 90%;
}
.developmentSkills{
    width: 19%;
    float: left;
    background-color: rgba(255, 255, 255, 0.3);
     border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 2% 3%; 
    margin: 2% 0 2% 5%;
    
}


.Platforms{
    width: 19%;
    float: left;
    background-color: rgba(255, 255, 255, 0.3);
     border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     margin-left: 5%;
    padding: 2% 3%;
    margin-bottom: 2%;
}
.bottom-sidebar{
    width: 19%;
    float: left;
    background-color: rgba(255, 255, 255, 0.3);
     border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
     margin-left: 5%;
    padding: 2% 3%;
    margin-bottom: 2%;
}
.mainFooter {
    width: 100%;
    float: right;
    line-height: 2px;
    border-radius: 4px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color:rgba(255, 255, 255, 0.3);
    margin: 2% 0 2% 0;
    
}
.mainFooter p {
    width: 90%;
    margin: 2% ;
    float: right
}
#thankYou{
    text-align: center;
    color: red;
    font-family:serif;
    font-size: 30px;
    font-weight: 700;
}
#contact_form{
    
}
#experience{
    margin-left: 40%
}
#aboutMe{
    margin-left: 40%
}
#education{
    margin-left: 40%;
}
#getInTouch{
    margin-left: 40%;
}
#form {
    font-family: cursive;
    font-weight: 600;
}
/* ----------------------responsive-----------------------------------*/

@media only screen and (max-width: 900px) {
    #myImage{
     background: url(img/istcrop2.jpg) no-repeat 40% center ; 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
    margin:auto;
    display:block;
    margin-top: 15%;
	position: relative;
    width: 100%;
    height: 440px;
   
}

#myImage .mask{
	
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	right:0;
}

#myImage h1 {
	position: absolute;
    width: 100%;
   color: white;
   
    
  
}
#myImage img{
        width: 250px;
        height: 350px;
        
    }
    
.body{
        width: 90%;
        font-size:95%;
       }
    
.mainHeader img {
    width: 100%;
    }
    
.mainHeader nav {
        height: 200px;
    }
    
.mainHeader nav ul {
        padding-left: 0;
    }
.mainHeader nav ul li {
       width: 100%;
    text-align: center;
    }
.mainHeader nav a:link, .mainHeader nav a:visited {
        padding: 10px 25px;
        height: 20px;
        display: block;
    }
.mainContent {
    line-height: 30px;
   
}
.content {
        width: 100%;
       float: left;
        margin-top: 5%;

    }
.post-info {
        display: none;
    }
.aboutMe {
        background-color:rgba(255, 255, 255, 0.3);
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        padding: 1% 3%;
        margin-top: 3%;
        margin-bottom: 3%;
    }
.bottomcontent {
        margin-top: 3%;
        
    }
.developmentSkills{
    width: 96%;
    padding: 2% 3%; 
    margin: 2% 0 2% 0%;
    
}
.Platforms{
  width: 96%;
    padding: 2% 3%; 
    margin: 2% 0 2% 0%;
}
.bottom-sidebar{
  width: 96%;
    padding: 2% 3%; 
    margin: 2% 0 2% 0%;
}

    }
